
<!DOCTYPE html>
<html lang="zxx">
<head>
<!-- for-meta-tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-meta-tags-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 


	    <!-- for-meta-tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      	function hideURLbar(){ window.scrollTo(0,1);
      	 }
    </script>
    <!-- //for-meta-tags-->

    {% load static %}
    <link
      href="{% static 'css/flexslider.css'  %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    {% load static %}
    <link
      href="{% static 'css/bootstrap.css'  %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% load static %}
    <link
      href="{% static 'css/services.css'  %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    {% load static %}
    <link
      href="{% static 'css/ziehharmonika.css'  %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% load static %}
    <link
      href="{% static 'css/JiSlider.css'  %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% load static %}
    <link
      href="{% static 'css/style.css'  %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% load static %}
    <link href="{% static 'css/font-awesome.css'  %}" rel="stylesheet" />

    <!-- font-awesome icons -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- //font-awesome icons -->
    <!-- <link href="//fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet"> -->
</head>
	
<body>
<div class="main" id="home">
<!-- banner -->
		<div class="header_agileinfo">
						<div class="w3_agileits_header_text">
							<ul class="top_agile_w3l_info_icons">
									<li><i class="fa fa-home" aria-hidden="true"></i>Guntur, AP</li>
									<li class="second"><i class="fa fa-phone" aria-hidden="true"></i>(+91) 9949512482</li>
									
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:er.tejasurya274@gmail.com">info@example.com</a></li>
								</ul>

						</div>
						<div class="agileinfo_social_icons">
							<ul class="agileits_social_list">
								<li><a href="https://www.facebook.com/" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
			</div>				

      <div class="header-bottom">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="logo">
              <h3>
                <a class="navbar-brand" href="{% url 'index' %}">
                  Trishul
                  <p>Health Care 4U</p></a
                >
              </h3>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse nav-wil"
            id="bs-example-navbar-collapse-1"
          >
               <nav class="menu menu--sebastian">
              <ul id="m_nav_list" class="m_nav menu__list">
                <li class="m_nav_item menu__item" id="m_nav_item_1">
                  <a href="{% url 'index' %}" class="menu__link"> Home </a>
                </li>


                <li class="m_nav_item menu__item" id="moble_nav_item_2">
                  <a href="{% url 'register' %}"class="menu__link"> Register </a>
                </li>
                   <!--
                <li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="appointment.html" class="menu__link">Appointment  </a> </li>
                <li class="m_nav_item menu__item" id="moble_nav_item_5">
                  <a href="gallery.html" class="menu__link">Departments</a>
                </li>
                <li class="m_nav_item menu__item" id="moble_nav_item_6">
                  <a href="contact.html" class="menu__link"> Contact </a>
                </li>
                -->
                <li
                  class="m_nav_item menu__item"
                  id="moble_nav_item_3 dropdown"
                >




              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
      </div>
    </div>
<!-- banner -->
<!-- banner1 -->
	<div class="banner1 jarallax">
		<div class="container">
		</div>
	</div>

	<div class="services-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="{% url 'index' %}">Home</a><i>|</i></li>
				<li>Login</li>
			</ul>
		</div>
	</div>

<form method="post" action ="{% url 'checkuser' %}">
{% csrf_token %}
<table align = center width=400 height=150>
<tr>
<td><b style ="color:blue">Enter UserName</b></td>
<td><input type="text" name="uname" required></td>
</tr>
<tr>
<td><b style ="color:blue">Enter Password</b></td>
<td><input type="password" name="pwd" required></td>
</tr>
<tr>
<td><b style ="color:blue">User Type</b></td>
<td>
<label for="choice">Choose UserType</label>
<select id="choice" name="choice">
  <option value="doctor">Doctor</option>
  <option value="patient">Patient</option>
  
</select>
</td>
</tr>
<tr>
<td align=center><input type="submit" value="Login" ></td>
<td align=center><input type="reset" value="clear"></td>
</tr>

 </table>
 </form>


</body>
</html>